*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  overflow-y: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  padding: 30px;
}

.icon-buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.move-icon {
  width: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 21vw;
  height: 21vw;
  min-width: 80px;
  min-height: 80px;
  max-width: 120px;
  max-height: 120px;
  
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.move-button:hover{
  transform: scale(1.1);
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.results-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  margin-top: 50px;
}

.reset-button, 
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.reset-button:hover,
.auto-play-button:hover{
  background-color: #FEDA58
}
